{% extends "base.html" %}

{% block title %}
Spaghetti client
{% end %}

{% block style %}
<style>
body {
    font: 14px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #222222;
    //stroke-width: 1px;
    shape-rendering: crispEdges;
}

.plotline {
    fill: none;
//    stroke: #152e40;
//    stroke-width: 2.0px;
}

#p1{
    width: 90%;
    height: 90%;
}

#p2{
    width: 30%;
    height: 30%;
}

</style>
{% end %}

{% block content %}
<div id="p1" class="pcont">
</div>
<!--<div id="p2" class="pcont">
</div>-->
{% end %}

{% block javascript %}
<script language="javascript" type="text/javascript" src="/static/js/typedwebsocket.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/d3.v3.js"></script>
<script language="javascript" type="text/javascript"
    src="http://code.jquery.com/jquery-latest.js"></script>
<script language="javascript" type="text/javascript"
    src="/static/js/plot_utils_d3.js"></script>
<script>
$(document).ready(function(){
    var ws;
    var ws_url;
    var ws_connected = false;
    var ws_url = "ws://{{http_host}}:{{http_port}}{{ws_base_url}}{{channel.name}}";
    if(!ws_connected){
        console.log("opening websocket to: " + ws_url);
        ws = typedWebSocket(ws_url, "{{channel.dtype}}");
        first_data = true;
        ws.onclose = function(event){
            console.log("closing websocket to: " + ws_url);
        }
        ws_connected = true;
    }
    var options = {
        ws : ws,
        padding : 5,
        stroke : "red",
        sroke_width : "3px",
    };
    d3.selectAll(".pcont").attach_plot(options);
});
</script>
{% end %}
