{% extends "base.html" %}

{% block title %}
Spaghetti client
{% end %}

{% block style %}
<style>
body {
    font: 14px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #222222;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
</style>
{% end %}

{% block content %}
<div id="plotplace" style="width: 900px; height: 500px; padding: 50px;">
</div>
{% end %}

{% block javascript %}
<!-- <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script> -->
<script language="javascript" type="text/javascript" src="/static/js/array_to_plot.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/typedwebsocket.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/d3.v3.js"></script>
<script>
$(document).ready(function(){
    var ws;
    var ws_url;
    var plot;
    var ws_connected = false;
    var ws_url = "ws://{{http_host}}:{{http_port}}{{ws_base_url}}{{channel.name}}";
    var first_data = true;
    var margin = {top: 20, right: 80, bottom: 30, left: 50};
    var width = 900 - margin.left - margin.right;
    var height = 500 - margin.top - margin.bottom;
    var x = d3.scale.linear()
        .range([0, width]);
    var y = d3.scale.linear()
        .range([0, height]);
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");
    var svg = d3.select("#plotplace").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    var line = d3.svg.line()
        .interpolate("step-before")
        .x(function(d, i) {return x(i); })
        .y(function(d) {return y(d); });

    if(!ws_connected){
        console.log("opening websocket to: " + ws_url);
        ws = typedWebSocket(ws_url, "{{channel.dtype}}");
        first_data = true;
        ws.onclose = function(event){
            console.log("closing websocket to: " + ws_url);
        }
        ws.ondata = function(data){
            if(first_data){
                x.domain([0, data.length])
                 .range([0, width]);
                y.domain([0, d3.max(data)])
                 .range([height, 0]);
                console.log(y.domain());
                console.log(y.range());
                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)

                svg.append("path")
                    .datum(data)
                    .attr("class", "line")
                    .attr("d", line);

                first_data = false;

            }
            else{
                y.domain([0, d3.max(data)])
                 .range([height, 0]);
                console.log(y.domain());
                console.log(y.range());
                svg.selectAll("path")
                    .datum(data)
                    .attr("d", line);
            }
        };
        ws_connected = true;
    }
});
</script>
{% end %}
