{% extends "base.html" %}

{% block title %}
Spaghetti client
{% end %}

{% block content %}
<div id="plotplace" style="width: 500px; height: 400px; padding: 50px;">
</div>
{% end %}

{% block javascript %}
<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/array_to_plot.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/typedwebsocket.js"></script>
    {% if vizname == "line" %}
    <script language="javascript" type="text/javascript" src="/static/js/lineplot.js"></script>
    {% elif vizname == "d3" %}
    <script language="javascript" type="text/javascript" src="/static/js/d3lineplot.js"></script>
    {% elif vizname == "2d" %}
    <script language="javascript" type="text/javascript" src="/static/js/bitmap.js"></script>
    {% else %}

    {% end %}

<script>
    $(document).ready(function(){
        var ws;
        var ws_url;
        var plot = init_plot({{channel}}, $("#plotplace"));
        var ws_connected = false;
        var ws_url =
        "ws://{{http_host}}:{{http_port}}{{ws_base_url}}{{channel.name}}";
        var first_data = true;
        if(!ws_connected){
            console.log("opening websocket to: " + ws_url);
            ws = typedWebSocket(ws_url, "{{channel.dtype}}");
            ws.onclose = function(event){
                console.log("closing websocket to: " + ws_url);
            }
            ws.ondata = function(data){
                plot.update(data);
            };
            ws_connected = true;
        }
    });
</script>
{% end %}
