{% extends "base.html" %}

{% block title %}
Spaghetti client
{% end %}

{% block content %}
<p>
<form id="wsform">
  Websocket room: <select name="roomlist" id="roomlist">
    {% for room in rooms %}
      <option> {{ room }} </option>
    {% end %}
  </select>
  <input type="button" value="connect" name="connect" id="connect" />
  <input type="button" value="close" name="close" id="close" disabled="disabled" />
</form>
</p>
<p>
<div id="plotplace" style="width: 500px; height: 400px; padding: 50px;">
</div>
</p>
{% end %}

{% block javascript %}
<!-- <script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script> -->
<script language="javascript" type="text/javascript" src="/static/js/array_to_plot.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/typedwebsocket.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
<script>
    $(document).ready(function(){
      var ws;
      var ws_url;
      var plot;
      var ws_connected = false;
      var base_ws_url = "ws://192.167.189.75:8765/ws/";
      var first_data = true;
      var options = { 
        series: {
          lines: {
            show: true,
            linewidth: 1.0,
            fill: 0.2,
            //fillcolor: "red";
          },
          shadowSize: 1,
        },
        colors: ["#e60000", "#dba255", "#919733"],
        legend: {
          show: true,
          position: "ne",
          margin: [10, 10],
          backgroundOpacity: 0.5,
        },
        label: "websocket",
      };
      $("#connect").click( function(){
        if(!ws_connected){
          room_name = $("#roomlist").val();
          ws_url = base_ws_url + $("#roomlist").val();
          console.log("opening websocket to: " + ws_url);
          ws = typedWebSocket(ws_url, "float32");
          $("#close").removeAttr("disabled");
          $("#connect").attr("disabled", "disabled");
          $("#roomlist").attr("disabled", "disabled");
          first_data = true;
          ws.onclose = function(event){
            console.log("closing websocket to: " + ws_url);
            $("#close").attr("disabled", "disabled");
            $("#connect").removeAttr("disabled");
            $("#roomlist").removeAttr("disabled");
          }
          ws.ondata = function(data){
            plot_data = [array_to_plot(data, 100)];
            //console.log(plot_data);
            if(first_data){
              plot = $.plot($("#plotplace"), plot_data, options);
              first_data = false;
            }else{
              plot.setData(plot_data);
              plot.draw();
            }
          };
          ws_connected = true;
        }
      });
      $("#close").click( function(){
        if(ws_connected){
          ws.close();
          ws_connected = false;
        }
      });
    });
</script>
{% end %}
